<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/health.ico">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    *{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    }
    html,
    body,
    header,
    #intro {
    height: 100%;
    }
    img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    </style>
    <title>Heart disease Prediction</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Health App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="heart.html">Heart Disease<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="kidney.html">Kidney Disease</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="diabetes.html">Diabetes</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="liver.html">Liver Diease</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="cancer.html">Cancer</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Mask-->
      <div id="intro" class="container-fluid view ">
        <h1 class="text-center text-capitalize pt-5">Know your chances of getting a heart disease in one Click!</h1>
        <hr class="w-75 mx-auto pt-5">
        <div class="row mb-5">
          <div class="col-lg-6 col-md-6 col-12 my-auto">
            <img src="../static/img/heart.jpg" class="float-left">
            
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <form action="{{ url_for('predict')}}" method="POST">
             
              <div class="form-group">
                <!-- TODO : Year to accept only year date picker -->
                <label for="age">Age</label>
                <input class="form-control" type="number" id="age" name="age" required="required" placeholder="Resting Blood Pressure">
              </div>

              <div class="form-group">
                <label for="anaemia">Anaemia</label>
                <input class="form-control" type="number" step="any" id="anaemia" name="anaemia" required="required" placeholder="Serum Cholestoral">
              </div>

              <div class="form-group">
                <label for="creatinine_phosphokinase">Creatinine Phosphokinase</label>
                <input class="form-control" type="number" step="any" id="creatinine_phosphokinase" name="creatinine_phosphokinase" required="required" placeholder="Serum Cholestoral">
              </div>

              <div class="form-group">
                <label for="diabetes">Diabetes</label>
                <select class="form-control" id="diabetes" name = "diabetes" required="required" >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>

              <div class="form-group">
                <label for="ejection_fraction">Ejection Fraction</label>
                <input class="form-control" type="number" step="any" id="ejection_fraction" name="ejection_fraction" required="required" placeholder="Serum Cholestoral">
              </div>


              <div class="form-group">
                <label for="high_blood_pressure">High BP</label>
                <select class="form-control" id="high_blood_pressure" name = "high_blood_pressure" required="required" >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>

              <div class="form-group">
                <label for="platelets">Platelets</label>
                <input class="form-control" type="number" step="any" id="platelets" name="platelets" required="required" placeholder="Serum Cholestoral">
              </div>

              <div class="form-group">
                <label for="serum_creatinine">Serum Creatinine</label>
                <input class="form-control" type="number" step="any" id="serum_creatinine" name="serum_creatinine" required="required" placeholder="Serum Cholestoral">
              </div>

              <div class="form-group">
                <label for="serum_sodium">Serum Sodium</label>
                <input class="form-control" type="number" step="any" id="serum_sodium" name="serum_sodium" required="required" placeholder="Serum Cholestoral">
              </div>

              <div class="form-group">
                <label for="sex">Sex</label>
                <input class="form-control" type="number" step="any" id="sex" name="sex" required="required" placeholder="Serum Cholestoral">
              </div>

              <div class="form-group">
                <label for="smoking">Smoking</label>
                <input class="form-control" type="number" step="any" id="smoking" name="smoking" required="required" placeholder="Serum Cholestoral">
              </div>

              <div class="form-group">
                <label for="time">Time</label>
                <input class="form-control" type="number" step="any" id="time" name="time" required="required" placeholder="Serum Cholestoral">
              </div>

              
              <button type="submit" class="btn btn-danger">Predict</button>
            </form>
          </div>
        </div>
      </div>
      <!--/.Mask-->
    </header>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>