/*** <--- CONTAINER ---> ***/
body {
    font-size: 16px;
    overflow: hidden;
    background: #556270;
    -webkit-animation: changeBg 60s infinite alternate;
            animation: changeBg 60s infinite alternate;
  }
  
  @-webkit-keyframes changeBg {
    0% {
      background: #556270;
    }
    33.33333333% {
      background: #7FB069;
    }
    66.66666666% {
      background: #FF7644;
    }
  }
  
  @keyframes changeBg {
    0% {
      background: #556270;
    }
    33.33333333% {
      background: #7FB069;
    }
    66.66666666% {
      background: #FF7644;
    }
  }
  /*** <--- PARTICLES ---> ***/
  .bottom-particles {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .bottom-particles .bubble {
    opacity: 0;
    position: absolute;
    bottom: -1rem;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }
  .bottom-particles .bubble:nth-child(1) {
    left: 35%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 8964ms;
            animation-delay: 8964ms;
  }
  .bottom-particles .bubble:nth-child(2) {
    left: 85%;
    -webkit-animation: blow 7306ms infinite;
            animation: blow 7306ms infinite;
    -webkit-animation-delay: 2892ms;
            animation-delay: 2892ms;
  }
  .bottom-particles .bubble:nth-child(3) {
    left: 58%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 10155ms;
            animation-delay: 10155ms;
  }
  .bottom-particles .bubble:nth-child(4) {
    left: 58%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 1892ms;
            animation-delay: 1892ms;
  }
  .bottom-particles .bubble:nth-child(5) {
    left: 28%;
    -webkit-animation: blow 10312ms infinite;
            animation: blow 10312ms infinite;
    -webkit-animation-delay: 2812ms;
            animation-delay: 2812ms;
  }
  .bottom-particles .bubble:nth-child(6) {
    left: 65%;
    -webkit-animation: blow 13291ms infinite;
            animation: blow 13291ms infinite;
    -webkit-animation-delay: 8586ms;
            animation-delay: 8586ms;
  }
  .bottom-particles .bubble:nth-child(7) {
    left: 41%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 5023ms;
            animation-delay: 5023ms;
  }
  .bottom-particles .bubble:nth-child(8) {
    left: 88%;
    -webkit-animation: blow 5638ms infinite;
            animation: blow 5638ms infinite;
    -webkit-animation-delay: 7672ms;
            animation-delay: 7672ms;
  }
  .bottom-particles .bubble:nth-child(9) {
    left: 58%;
    -webkit-animation: blow 8048ms infinite;
            animation: blow 8048ms infinite;
    -webkit-animation-delay: 5867ms;
            animation-delay: 5867ms;
  }
  .bottom-particles .bubble:nth-child(10) {
    left: 5%;
    -webkit-animation: blow 5037ms infinite;
            animation: blow 5037ms infinite;
    -webkit-animation-delay: 8058ms;
            animation-delay: 8058ms;
  }
  .bottom-particles .bubble:nth-child(11) {
    left: 69%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 3108ms;
            animation-delay: 3108ms;
  }
  .bottom-particles .bubble:nth-child(12) {
    left: 42%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 1752ms;
            animation-delay: 1752ms;
  }
  .bottom-particles .bubble:nth-child(13) {
    left: 51%;
    -webkit-animation: blow 10268ms infinite;
            animation: blow 10268ms infinite;
    -webkit-animation-delay: 8165ms;
            animation-delay: 8165ms;
  }
  .bottom-particles .bubble:nth-child(14) {
    left: 62%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 10962ms;
            animation-delay: 10962ms;
  }
  .bottom-particles .bubble:nth-child(15) {
    left: 62%;
    -webkit-animation: blow 6634ms infinite;
            animation: blow 6634ms infinite;
    -webkit-animation-delay: 995ms;
            animation-delay: 995ms;
  }
  .bottom-particles .bubble:nth-child(16) {
    left: 23%;
    -webkit-animation: blow 13973ms infinite;
            animation: blow 13973ms infinite;
    -webkit-animation-delay: 8024ms;
            animation-delay: 8024ms;
  }
  .bottom-particles .bubble:nth-child(17) {
    left: 63%;
    -webkit-animation: blow 12294ms infinite;
            animation: blow 12294ms infinite;
    -webkit-animation-delay: 3700ms;
            animation-delay: 3700ms;
  }
  .bottom-particles .bubble:nth-child(18) {
    left: 68%;
    -webkit-animation: blow 9730ms infinite;
            animation: blow 9730ms infinite;
    -webkit-animation-delay: 11005ms;
            animation-delay: 11005ms;
  }
  .bottom-particles .bubble:nth-child(19) {
    left: 57%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 8916ms;
            animation-delay: 8916ms;
  }
  .bottom-particles .bubble:nth-child(20) {
    left: 46%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4148ms;
            animation-delay: 4148ms;
  }
  .bottom-particles .bubble:nth-child(21) {
    left: 85%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9534ms;
            animation-delay: 9534ms;
  }
  .bottom-particles .bubble:nth-child(22) {
    left: 68%;
    -webkit-animation: blow 8149ms infinite;
            animation: blow 8149ms infinite;
    -webkit-animation-delay: 2149ms;
            animation-delay: 2149ms;
  }
  .bottom-particles .bubble:nth-child(23) {
    left: 77%;
    -webkit-animation: blow 7544ms infinite;
            animation: blow 7544ms infinite;
    -webkit-animation-delay: 1431ms;
            animation-delay: 1431ms;
  }
  .bottom-particles .bubble:nth-child(24) {
    left: 90%;
    -webkit-animation: blow 5226ms infinite;
            animation: blow 5226ms infinite;
    -webkit-animation-delay: 1357ms;
            animation-delay: 1357ms;
  }
  .bottom-particles .bubble:nth-child(25) {
    left: 87%;
    -webkit-animation: blow 9130ms infinite;
            animation: blow 9130ms infinite;
    -webkit-animation-delay: 1987ms;
            animation-delay: 1987ms;
  }
  .bottom-particles .bubble:nth-child(26) {
    left: 10%;
    -webkit-animation: blow 10465ms infinite;
            animation: blow 10465ms infinite;
    -webkit-animation-delay: 5695ms;
            animation-delay: 5695ms;
  }
  .bottom-particles .bubble:nth-child(27) {
    left: 75%;
    -webkit-animation: blow 6998ms infinite;
            animation: blow 6998ms infinite;
    -webkit-animation-delay: 4467ms;
            animation-delay: 4467ms;
  }
  .bottom-particles .bubble:nth-child(28) {
    left: 66%;
    -webkit-animation: blow 14352ms infinite;
            animation: blow 14352ms infinite;
    -webkit-animation-delay: 4859ms;
            animation-delay: 4859ms;
  }
  .bottom-particles .bubble:nth-child(29) {
    left: 32%;
    -webkit-animation: blow 11250ms infinite;
            animation: blow 11250ms infinite;
    -webkit-animation-delay: 9309ms;
            animation-delay: 9309ms;
  }
  .bottom-particles .bubble:nth-child(30) {
    left: 8%;
    -webkit-animation: blow 10532ms infinite;
            animation: blow 10532ms infinite;
    -webkit-animation-delay: 175ms;
            animation-delay: 175ms;
  }
  .bottom-particles .bubble:nth-child(31) {
    left: 34%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9513ms;
            animation-delay: 9513ms;
  }
  .bottom-particles .bubble:nth-child(32) {
    left: 13%;
    -webkit-animation: blow 5898ms infinite;
            animation: blow 5898ms infinite;
    -webkit-animation-delay: 4110ms;
            animation-delay: 4110ms;
  }
  .bottom-particles .bubble:nth-child(33) {
    left: 53%;
    -webkit-animation: blow 7615ms infinite;
            animation: blow 7615ms infinite;
    -webkit-animation-delay: 549ms;
            animation-delay: 549ms;
  }
  .bottom-particles .bubble:nth-child(34) {
    left: 53%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 11534ms;
            animation-delay: 11534ms;
  }
  .bottom-particles .bubble:nth-child(35) {
    left: 48%;
    -webkit-animation: blow 11015ms infinite;
            animation: blow 11015ms infinite;
    -webkit-animation-delay: 6898ms;
            animation-delay: 6898ms;
  }
  .bottom-particles .bubble:nth-child(36) {
    left: 61%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 2010ms;
            animation-delay: 2010ms;
  }
  .bottom-particles .bubble:nth-child(37) {
    left: 79%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 8997ms;
            animation-delay: 8997ms;
  }
  .bottom-particles .bubble:nth-child(38) {
    left: 80%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 11641ms;
            animation-delay: 11641ms;
  }
  .bottom-particles .bubble:nth-child(39) {
    left: 56%;
    -webkit-animation: blow 7621ms infinite;
            animation: blow 7621ms infinite;
    -webkit-animation-delay: 8266ms;
            animation-delay: 8266ms;
  }
  .bottom-particles .bubble:nth-child(40) {
    left: 81%;
    -webkit-animation: blow 8691ms infinite;
            animation: blow 8691ms infinite;
    -webkit-animation-delay: 3078ms;
            animation-delay: 3078ms;
  }
  .bottom-particles .bubble:nth-child(41) {
    left: 74%;
    -webkit-animation: blow 9370ms infinite;
            animation: blow 9370ms infinite;
    -webkit-animation-delay: 2314ms;
            animation-delay: 2314ms;
  }
  .bottom-particles .bubble:nth-child(42) {
    left: 78%;
    -webkit-animation: blow 8511ms infinite;
            animation: blow 8511ms infinite;
    -webkit-animation-delay: 3706ms;
            animation-delay: 3706ms;
  }
  .bottom-particles .bubble:nth-child(43) {
    left: 62%;
    -webkit-animation: blow 10711ms infinite;
            animation: blow 10711ms infinite;
    -webkit-animation-delay: 1664ms;
            animation-delay: 1664ms;
  }
  .bottom-particles .bubble:nth-child(44) {
    left: 89%;
    -webkit-animation: blow 6640ms infinite;
            animation: blow 6640ms infinite;
    -webkit-animation-delay: 10239ms;
            animation-delay: 10239ms;
  }
  .bottom-particles .bubble:nth-child(45) {
    left: 37%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 3251ms;
            animation-delay: 3251ms;
  }
  .bottom-particles .bubble:nth-child(46) {
    left: 52%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4124ms;
            animation-delay: 4124ms;
  }
  .bottom-particles .bubble:nth-child(47) {
    left: 7%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9680ms;
            animation-delay: 9680ms;
  }
  .bottom-particles .bubble:nth-child(48) {
    left: 18%;
    -webkit-animation: blow 9402ms infinite;
            animation: blow 9402ms infinite;
    -webkit-animation-delay: 393ms;
            animation-delay: 393ms;
  }
  .bottom-particles .bubble:nth-child(49) {
    left: 7%;
    -webkit-animation: blow 7188ms infinite;
            animation: blow 7188ms infinite;
    -webkit-animation-delay: 213ms;
            animation-delay: 213ms;
  }
  .bottom-particles .bubble:nth-child(50) {
    left: 34%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4304ms;
            animation-delay: 4304ms;
  }
  .bottom-particles .bubble:nth-child(51) {
    left: 8%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 3365ms;
            animation-delay: 3365ms;
  }
  .bottom-particles .bubble:nth-child(52) {
    left: 46%;
    -webkit-animation: blow 5073ms infinite;
            animation: blow 5073ms infinite;
    -webkit-animation-delay: 4009ms;
            animation-delay: 4009ms;
  }
  .bottom-particles .bubble:nth-child(53) {
    left: 95%;
    -webkit-animation: blow 11727ms infinite;
            animation: blow 11727ms infinite;
    -webkit-animation-delay: 2272ms;
            animation-delay: 2272ms;
  }
  .bottom-particles .bubble:nth-child(54) {
    left: 1%;
    -webkit-animation: blow 11236ms infinite;
            animation: blow 11236ms infinite;
    -webkit-animation-delay: 8115ms;
            animation-delay: 8115ms;
  }
  .bottom-particles .bubble:nth-child(55) {
    left: 25%;
    -webkit-animation: blow 6267ms infinite;
            animation: blow 6267ms infinite;
    -webkit-animation-delay: 7506ms;
            animation-delay: 7506ms;
  }
  .bottom-particles .bubble:nth-child(56) {
    left: 100%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 3968ms;
            animation-delay: 3968ms;
  }
  .bottom-particles .bubble:nth-child(57) {
    left: 31%;
    -webkit-animation: blow 8782ms infinite;
            animation: blow 8782ms infinite;
    -webkit-animation-delay: 11484ms;
            animation-delay: 11484ms;
  }
  .bottom-particles .bubble:nth-child(58) {
    left: 92%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 10578ms;
            animation-delay: 10578ms;
  }
  .bottom-particles .bubble:nth-child(59) {
    left: 1%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 6375ms;
            animation-delay: 6375ms;
  }
  .bottom-particles .bubble:nth-child(60) {
    left: 78%;
    -webkit-animation: blow 13338ms infinite;
            animation: blow 13338ms infinite;
    -webkit-animation-delay: 3371ms;
            animation-delay: 3371ms;
  }
  .bottom-particles .bubble:nth-child(61) {
    left: 70%;
    -webkit-animation: blow 14709ms infinite;
            animation: blow 14709ms infinite;
    -webkit-animation-delay: 3284ms;
            animation-delay: 3284ms;
  }
  .bottom-particles .bubble:nth-child(62) {
    left: 74%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4720ms;
            animation-delay: 4720ms;
  }
  .bottom-particles .bubble:nth-child(63) {
    left: 26%;
    -webkit-animation: blow 7304ms infinite;
            animation: blow 7304ms infinite;
    -webkit-animation-delay: 7835ms;
            animation-delay: 7835ms;
  }
  .bottom-particles .bubble:nth-child(64) {
    left: 71%;
    -webkit-animation: blow 5045ms infinite;
            animation: blow 5045ms infinite;
    -webkit-animation-delay: 1926ms;
            animation-delay: 1926ms;
  }
  .bottom-particles .bubble:nth-child(65) {
    left: 7%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 11527ms;
            animation-delay: 11527ms;
  }
  .bottom-particles .bubble:nth-child(66) {
    left: 46%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 7274ms;
            animation-delay: 7274ms;
  }
  .bottom-particles .bubble:nth-child(67) {
    left: 97%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 8230ms;
            animation-delay: 8230ms;
  }
  .bottom-particles .bubble:nth-child(68) {
    left: 55%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9783ms;
            animation-delay: 9783ms;
  }
  .bottom-particles .bubble:nth-child(69) {
    left: 2%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 11314ms;
            animation-delay: 11314ms;
  }
  .bottom-particles .bubble:nth-child(70) {
    left: 11%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 2957ms;
            animation-delay: 2957ms;
  }
  .bottom-particles .bubble:nth-child(71) {
    left: 8%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 1205ms;
            animation-delay: 1205ms;
  }
  .bottom-particles .bubble:nth-child(72) {
    left: 73%;
    -webkit-animation: blow 14503ms infinite;
            animation: blow 14503ms infinite;
    -webkit-animation-delay: 6388ms;
            animation-delay: 6388ms;
  }
  .bottom-particles .bubble:nth-child(73) {
    left: 86%;
    -webkit-animation: blow 9866ms infinite;
            animation: blow 9866ms infinite;
    -webkit-animation-delay: 1448ms;
            animation-delay: 1448ms;
  }
  .bottom-particles .bubble:nth-child(74) {
    left: 80%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4783ms;
            animation-delay: 4783ms;
  }
  .bottom-particles .bubble:nth-child(75) {
    left: 51%;
    -webkit-animation: blow 11999ms infinite;
            animation: blow 11999ms infinite;
    -webkit-animation-delay: 9909ms;
            animation-delay: 9909ms;
  }
  .bottom-particles .bubble:nth-child(76) {
    left: 31%;
    -webkit-animation: blow 14567ms infinite;
            animation: blow 14567ms infinite;
    -webkit-animation-delay: 9348ms;
            animation-delay: 9348ms;
  }
  .bottom-particles .bubble:nth-child(77) {
    left: 85%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 1066ms;
            animation-delay: 1066ms;
  }
  .bottom-particles .bubble:nth-child(78) {
    left: 35%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 1421ms;
            animation-delay: 1421ms;
  }
  .bottom-particles .bubble:nth-child(79) {
    left: 86%;
    -webkit-animation: blow 7099ms infinite;
            animation: blow 7099ms infinite;
    -webkit-animation-delay: 3145ms;
            animation-delay: 3145ms;
  }
  .bottom-particles .bubble:nth-child(80) {
    left: 9%;
    -webkit-animation: blow 5698ms infinite;
            animation: blow 5698ms infinite;
    -webkit-animation-delay: 8074ms;
            animation-delay: 8074ms;
  }
  .bottom-particles .bubble:nth-child(81) {
    left: 57%;
    -webkit-animation: blow 11410ms infinite;
            animation: blow 11410ms infinite;
    -webkit-animation-delay: 11442ms;
            animation-delay: 11442ms;
  }
  .bottom-particles .bubble:nth-child(82) {
    left: 79%;
    -webkit-animation: blow 7606ms infinite;
            animation: blow 7606ms infinite;
    -webkit-animation-delay: 302ms;
            animation-delay: 302ms;
  }
  .bottom-particles .bubble:nth-child(83) {
    left: 40%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 2319ms;
            animation-delay: 2319ms;
  }
  .bottom-particles .bubble:nth-child(84) {
    left: 26%;
    -webkit-animation: blow 10170ms infinite;
            animation: blow 10170ms infinite;
    -webkit-animation-delay: 534ms;
            animation-delay: 534ms;
  }
  .bottom-particles .bubble:nth-child(85) {
    left: 2%;
    -webkit-animation: blow 8220ms infinite;
            animation: blow 8220ms infinite;
    -webkit-animation-delay: 5386ms;
            animation-delay: 5386ms;
  }
  .bottom-particles .bubble:nth-child(86) {
    left: 54%;
    -webkit-animation: blow 7175ms infinite;
            animation: blow 7175ms infinite;
    -webkit-animation-delay: 9105ms;
            animation-delay: 9105ms;
  }
  .bottom-particles .bubble:nth-child(87) {
    left: 78%;
    -webkit-animation: blow 5005ms infinite;
            animation: blow 5005ms infinite;
    -webkit-animation-delay: 9509ms;
            animation-delay: 9509ms;
  }
  .bottom-particles .bubble:nth-child(88) {
    left: 96%;
    -webkit-animation: blow 5653ms infinite;
            animation: blow 5653ms infinite;
    -webkit-animation-delay: 9644ms;
            animation-delay: 9644ms;
  }
  .bottom-particles .bubble:nth-child(89) {
    left: 73%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4884ms;
            animation-delay: 4884ms;
  }
  .bottom-particles .bubble:nth-child(90) {
    left: 35%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 11222ms;
            animation-delay: 11222ms;
  }
  .bottom-particles .bubble:nth-child(91) {
    left: 45%;
    -webkit-animation: blow 14085ms infinite;
            animation: blow 14085ms infinite;
    -webkit-animation-delay: 4729ms;
            animation-delay: 4729ms;
  }
  .bottom-particles .bubble:nth-child(92) {
    left: 15%;
    -webkit-animation: blow 13953ms infinite;
            animation: blow 13953ms infinite;
    -webkit-animation-delay: 7455ms;
            animation-delay: 7455ms;
  }
  .bottom-particles .bubble:nth-child(93) {
    left: 73%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 5847ms;
            animation-delay: 5847ms;
  }
  .bottom-particles .bubble:nth-child(94) {
    left: 28%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 6379ms;
            animation-delay: 6379ms;
  }
  .bottom-particles .bubble:nth-child(95) {
    left: 20%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 2926ms;
            animation-delay: 2926ms;
  }
  .bottom-particles .bubble:nth-child(96) {
    left: 28%;
    -webkit-animation: blow 13556ms infinite;
            animation: blow 13556ms infinite;
    -webkit-animation-delay: 2030ms;
            animation-delay: 2030ms;
  }
  .bottom-particles .bubble:nth-child(97) {
    left: 34%;
    -webkit-animation: blow 13262ms infinite;
            animation: blow 13262ms infinite;
    -webkit-animation-delay: 1388ms;
            animation-delay: 1388ms;
  }
  .bottom-particles .bubble:nth-child(98) {
    left: 20%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9520ms;
            animation-delay: 9520ms;
  }
  .bottom-particles .bubble:nth-child(99) {
    left: 97%;
    -webkit-animation: blow 13789ms infinite;
            animation: blow 13789ms infinite;
    -webkit-animation-delay: 9121ms;
            animation-delay: 9121ms;
  }
  .bottom-particles .bubble:nth-child(100) {
    left: 44%;
    -webkit-animation: blow 7333ms infinite;
            animation: blow 7333ms infinite;
    -webkit-animation-delay: 4205ms;
            animation-delay: 4205ms;
  }
  .bottom-particles .bubble:nth-child(101) {
    left: 53%;
    -webkit-animation: blow 7729ms infinite;
            animation: blow 7729ms infinite;
    -webkit-animation-delay: 336ms;
            animation-delay: 336ms;
  }
  .bottom-particles .bubble:nth-child(102) {
    left: 5%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 7063ms;
            animation-delay: 7063ms;
  }
  .bottom-particles .bubble:nth-child(103) {
    left: 12%;
    -webkit-animation: blow 8073ms infinite;
            animation: blow 8073ms infinite;
    -webkit-animation-delay: 9213ms;
            animation-delay: 9213ms;
  }
  .bottom-particles .bubble:nth-child(104) {
    left: 11%;
    -webkit-animation: blow 11594ms infinite;
            animation: blow 11594ms infinite;
    -webkit-animation-delay: 11726ms;
            animation-delay: 11726ms;
  }
  .bottom-particles .bubble:nth-child(105) {
    left: 70%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 6967ms;
            animation-delay: 6967ms;
  }
  .bottom-particles .bubble:nth-child(106) {
    left: 88%;
    -webkit-animation: blow 12119ms infinite;
            animation: blow 12119ms infinite;
    -webkit-animation-delay: 11073ms;
            animation-delay: 11073ms;
  }
  .bottom-particles .bubble:nth-child(107) {
    left: 64%;
    -webkit-animation: blow 14883ms infinite;
            animation: blow 14883ms infinite;
    -webkit-animation-delay: 708ms;
            animation-delay: 708ms;
  }
  .bottom-particles .bubble:nth-child(108) {
    left: 66%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 3861ms;
            animation-delay: 3861ms;
  }
  .bottom-particles .bubble:nth-child(109) {
    left: 33%;
    -webkit-animation: blow 13522ms infinite;
            animation: blow 13522ms infinite;
    -webkit-animation-delay: 8407ms;
            animation-delay: 8407ms;
  }
  .bottom-particles .bubble:nth-child(110) {
    left: 94%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 3718ms;
            animation-delay: 3718ms;
  }
  .bottom-particles .bubble:nth-child(111) {
    left: 91%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9803ms;
            animation-delay: 9803ms;
  }
  .bottom-particles .bubble:nth-child(112) {
    left: 41%;
    -webkit-animation: blow 10218ms infinite;
            animation: blow 10218ms infinite;
    -webkit-animation-delay: 4211ms;
            animation-delay: 4211ms;
  }
  .bottom-particles .bubble:nth-child(113) {
    left: 34%;
    -webkit-animation: blow 11250ms infinite;
            animation: blow 11250ms infinite;
    -webkit-animation-delay: 7524ms;
            animation-delay: 7524ms;
  }
  .bottom-particles .bubble:nth-child(114) {
    left: 86%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4435ms;
            animation-delay: 4435ms;
  }
  .bottom-particles .bubble:nth-child(115) {
    left: 2%;
    -webkit-animation: blow 10752ms infinite;
            animation: blow 10752ms infinite;
    -webkit-animation-delay: 5506ms;
            animation-delay: 5506ms;
  }
  .bottom-particles .bubble:nth-child(116) {
    left: 42%;
    -webkit-animation: blow 11920ms infinite;
            animation: blow 11920ms infinite;
    -webkit-animation-delay: 10310ms;
            animation-delay: 10310ms;
  }
  .bottom-particles .bubble:nth-child(117) {
    left: 91%;
    -webkit-animation: blow 6064ms infinite;
            animation: blow 6064ms infinite;
    -webkit-animation-delay: 8181ms;
            animation-delay: 8181ms;
  }
  .bottom-particles .bubble:nth-child(118) {
    left: 67%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4228ms;
            animation-delay: 4228ms;
  }
  .bottom-particles .bubble:nth-child(119) {
    left: 15%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9740ms;
            animation-delay: 9740ms;
  }
  .bottom-particles .bubble:nth-child(120) {
    left: 86%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 5752ms;
            animation-delay: 5752ms;
  }
  .bottom-particles .bubble:nth-child(121) {
    left: 37%;
    -webkit-animation: blow 11229ms infinite;
            animation: blow 11229ms infinite;
    -webkit-animation-delay: 1796ms;
            animation-delay: 1796ms;
  }
  .bottom-particles .bubble:nth-child(122) {
    left: 47%;
    -webkit-animation: blow 9718ms infinite;
            animation: blow 9718ms infinite;
    -webkit-animation-delay: 10443ms;
            animation-delay: 10443ms;
  }
  .bottom-particles .bubble:nth-child(123) {
    left: 42%;
    -webkit-animation: blow 7868ms infinite;
            animation: blow 7868ms infinite;
    -webkit-animation-delay: 10806ms;
            animation-delay: 10806ms;
  }
  .bottom-particles .bubble:nth-child(124) {
    left: 79%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9053ms;
            animation-delay: 9053ms;
  }
  .bottom-particles .bubble:nth-child(125) {
    left: 43%;
    -webkit-animation: blow 10976ms infinite;
            animation: blow 10976ms infinite;
    -webkit-animation-delay: 4130ms;
            animation-delay: 4130ms;
  }
  .bottom-particles .bubble:nth-child(126) {
    left: 25%;
    -webkit-animation: blow 12712ms infinite;
            animation: blow 12712ms infinite;
    -webkit-animation-delay: 7405ms;
            animation-delay: 7405ms;
  }
  .bottom-particles .bubble:nth-child(127) {
    left: 27%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 1857ms;
            animation-delay: 1857ms;
  }
  .bottom-particles .bubble:nth-child(128) {
    left: 41%;
    -webkit-animation: blow 14356ms infinite;
            animation: blow 14356ms infinite;
    -webkit-animation-delay: 1548ms;
            animation-delay: 1548ms;
  }
  .bottom-particles .bubble:nth-child(129) {
    left: 75%;
    -webkit-animation: blow 11633ms infinite;
            animation: blow 11633ms infinite;
    -webkit-animation-delay: 8639ms;
            animation-delay: 8639ms;
  }
  .bottom-particles .bubble:nth-child(130) {
    left: 47%;
    -webkit-animation: blow 5632ms infinite;
            animation: blow 5632ms infinite;
    -webkit-animation-delay: 2266ms;
            animation-delay: 2266ms;
  }
  .bottom-particles .bubble:nth-child(131) {
    left: 41%;
    -webkit-animation: blow 14262ms infinite;
            animation: blow 14262ms infinite;
    -webkit-animation-delay: 5884ms;
            animation-delay: 5884ms;
  }
  .bottom-particles .bubble:nth-child(132) {
    left: 15%;
    -webkit-animation: blow 9203ms infinite;
            animation: blow 9203ms infinite;
    -webkit-animation-delay: 6015ms;
            animation-delay: 6015ms;
  }
  .bottom-particles .bubble:nth-child(133) {
    left: 14%;
    -webkit-animation: blow 6009ms infinite;
            animation: blow 6009ms infinite;
    -webkit-animation-delay: 5642ms;
            animation-delay: 5642ms;
  }
  .bottom-particles .bubble:nth-child(134) {
    left: 12%;
    -webkit-animation: blow 14194ms infinite;
            animation: blow 14194ms infinite;
    -webkit-animation-delay: 7258ms;
            animation-delay: 7258ms;
  }
  .bottom-particles .bubble:nth-child(135) {
    left: 32%;
    -webkit-animation: blow 8625ms infinite;
            animation: blow 8625ms infinite;
    -webkit-animation-delay: 4459ms;
            animation-delay: 4459ms;
  }
  .bottom-particles .bubble:nth-child(136) {
    left: 9%;
    -webkit-animation: blow 8685ms infinite;
            animation: blow 8685ms infinite;
    -webkit-animation-delay: 379ms;
            animation-delay: 379ms;
  }
  .bottom-particles .bubble:nth-child(137) {
    left: 78%;
    -webkit-animation: blow 10576ms infinite;
            animation: blow 10576ms infinite;
    -webkit-animation-delay: 11345ms;
            animation-delay: 11345ms;
  }
  .bottom-particles .bubble:nth-child(138) {
    left: 47%;
    -webkit-animation: blow 5613ms infinite;
            animation: blow 5613ms infinite;
    -webkit-animation-delay: 85ms;
            animation-delay: 85ms;
  }
  .bottom-particles .bubble:nth-child(139) {
    left: 60%;
    -webkit-animation: blow 7052ms infinite;
            animation: blow 7052ms infinite;
    -webkit-animation-delay: 6547ms;
            animation-delay: 6547ms;
  }
  .bottom-particles .bubble:nth-child(140) {
    left: 2%;
    -webkit-animation: blow 14431ms infinite;
            animation: blow 14431ms infinite;
    -webkit-animation-delay: 6622ms;
            animation-delay: 6622ms;
  }
  .bottom-particles .bubble:nth-child(141) {
    left: 33%;
    -webkit-animation: blow 12319ms infinite;
            animation: blow 12319ms infinite;
    -webkit-animation-delay: 4709ms;
            animation-delay: 4709ms;
  }
  .bottom-particles .bubble:nth-child(142) {
    left: 75%;
    -webkit-animation: blow 7615ms infinite;
            animation: blow 7615ms infinite;
    -webkit-animation-delay: 616ms;
            animation-delay: 616ms;
  }
  .bottom-particles .bubble:nth-child(143) {
    left: 31%;
    -webkit-animation: blow 6544ms infinite;
            animation: blow 6544ms infinite;
    -webkit-animation-delay: 8058ms;
            animation-delay: 8058ms;
  }
  .bottom-particles .bubble:nth-child(144) {
    left: 86%;
    -webkit-animation: blow 5582ms infinite;
            animation: blow 5582ms infinite;
    -webkit-animation-delay: 9621ms;
            animation-delay: 9621ms;
  }
  .bottom-particles .bubble:nth-child(145) {
    left: 90%;
    -webkit-animation: blow 12550ms infinite;
            animation: blow 12550ms infinite;
    -webkit-animation-delay: 3842ms;
            animation-delay: 3842ms;
  }
  .bottom-particles .bubble:nth-child(146) {
    left: 37%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 8736ms;
            animation-delay: 8736ms;
  }
  .bottom-particles .bubble:nth-child(147) {
    left: 92%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 2842ms;
            animation-delay: 2842ms;
  }
  .bottom-particles .bubble:nth-child(148) {
    left: 52%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 9531ms;
            animation-delay: 9531ms;
  }
  .bottom-particles .bubble:nth-child(149) {
    left: 98%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 2025ms;
            animation-delay: 2025ms;
  }
  .bottom-particles .bubble:nth-child(150) {
    left: 31%;
    -webkit-animation: blow 10201ms infinite;
            animation: blow 10201ms infinite;
    -webkit-animation-delay: 4962ms;
            animation-delay: 4962ms;
  }
  .bottom-particles .bubble:nth-child(151) {
    left: 74%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 2467ms;
            animation-delay: 2467ms;
  }
  .bottom-particles .bubble:nth-child(152) {
    left: 82%;
    -webkit-animation: blow 6816ms infinite;
            animation: blow 6816ms infinite;
    -webkit-animation-delay: 5263ms;
            animation-delay: 5263ms;
  }
  .bottom-particles .bubble:nth-child(153) {
    left: 25%;
    -webkit-animation: blow 13962ms infinite;
            animation: blow 13962ms infinite;
    -webkit-animation-delay: 7624ms;
            animation-delay: 7624ms;
  }
  .bottom-particles .bubble:nth-child(154) {
    left: 53%;
    -webkit-animation: blow 7669ms infinite;
            animation: blow 7669ms infinite;
    -webkit-animation-delay: 4782ms;
            animation-delay: 4782ms;
  }
  .bottom-particles .bubble:nth-child(155) {
    left: 15%;
    -webkit-animation: blow 10278ms infinite;
            animation: blow 10278ms infinite;
    -webkit-animation-delay: 11706ms;
            animation-delay: 11706ms;
  }
  .bottom-particles .bubble:nth-child(156) {
    left: 36%;
    -webkit-animation: blow 11341ms infinite;
            animation: blow 11341ms infinite;
    -webkit-animation-delay: 7591ms;
            animation-delay: 7591ms;
  }
  .bottom-particles .bubble:nth-child(157) {
    left: 86%;
    -webkit-animation: blow 12408ms infinite;
            animation: blow 12408ms infinite;
    -webkit-animation-delay: 7695ms;
            animation-delay: 7695ms;
  }
  .bottom-particles .bubble:nth-child(158) {
    left: 94%;
    -webkit-animation: blow 10381ms infinite;
            animation: blow 10381ms infinite;
    -webkit-animation-delay: 6596ms;
            animation-delay: 6596ms;
  }
  .bottom-particles .bubble:nth-child(159) {
    left: 23%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 8500ms;
            animation-delay: 8500ms;
  }
  .bottom-particles .bubble:nth-child(160) {
    left: 89%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4217ms;
            animation-delay: 4217ms;
  }
  .bottom-particles .bubble:nth-child(161) {
    left: 28%;
    -webkit-animation: blow 10296ms infinite;
            animation: blow 10296ms infinite;
    -webkit-animation-delay: 10188ms;
            animation-delay: 10188ms;
  }
  .bottom-particles .bubble:nth-child(162) {
    left: 16%;
    -webkit-animation: blow 9346ms infinite;
            animation: blow 9346ms infinite;
    -webkit-animation-delay: 7585ms;
            animation-delay: 7585ms;
  }
  .bottom-particles .bubble:nth-child(163) {
    left: 61%;
    -webkit-animation: blow 5919ms infinite;
            animation: blow 5919ms infinite;
    -webkit-animation-delay: 4696ms;
            animation-delay: 4696ms;
  }
  .bottom-particles .bubble:nth-child(164) {
    left: 82%;
    -webkit-animation: blow 14356ms infinite;
            animation: blow 14356ms infinite;
    -webkit-animation-delay: 1287ms;
            animation-delay: 1287ms;
  }
  .bottom-particles .bubble:nth-child(165) {
    left: 97%;
    -webkit-animation: blow 11803ms infinite;
            animation: blow 11803ms infinite;
    -webkit-animation-delay: 6109ms;
            animation-delay: 6109ms;
  }
  .bottom-particles .bubble:nth-child(166) {
    left: 87%;
    -webkit-animation: blow 5416ms infinite;
            animation: blow 5416ms infinite;
    -webkit-animation-delay: 3667ms;
            animation-delay: 3667ms;
  }
  .bottom-particles .bubble:nth-child(167) {
    left: 85%;
    -webkit-animation: blow 14265ms infinite;
            animation: blow 14265ms infinite;
    -webkit-animation-delay: 6574ms;
            animation-delay: 6574ms;
  }
  .bottom-particles .bubble:nth-child(168) {
    left: 20%;
    -webkit-animation: blow 9882ms infinite;
            animation: blow 9882ms infinite;
    -webkit-animation-delay: 528ms;
            animation-delay: 528ms;
  }
  .bottom-particles .bubble:nth-child(169) {
    left: 57%;
    -webkit-animation: blow 9197ms infinite;
            animation: blow 9197ms infinite;
    -webkit-animation-delay: 3117ms;
            animation-delay: 3117ms;
  }
  .bottom-particles .bubble:nth-child(170) {
    left: 26%;
    -webkit-animation: blow 14650ms infinite;
            animation: blow 14650ms infinite;
    -webkit-animation-delay: 10920ms;
            animation-delay: 10920ms;
  }
  .bottom-particles .bubble:nth-child(171) {
    left: 56%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 3610ms;
            animation-delay: 3610ms;
  }
  .bottom-particles .bubble:nth-child(172) {
    left: 38%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 11ms;
            animation-delay: 11ms;
  }
  .bottom-particles .bubble:nth-child(173) {
    left: 12%;
    -webkit-animation: blow 11472ms infinite;
            animation: blow 11472ms infinite;
    -webkit-animation-delay: 11125ms;
            animation-delay: 11125ms;
  }
  .bottom-particles .bubble:nth-child(174) {
    left: 64%;
    -webkit-animation: blow 13911ms infinite;
            animation: blow 13911ms infinite;
    -webkit-animation-delay: 10155ms;
            animation-delay: 10155ms;
  }
  .bottom-particles .bubble:nth-child(175) {
    left: 3%;
    -webkit-animation: blow 9914ms infinite;
            animation: blow 9914ms infinite;
    -webkit-animation-delay: 2928ms;
            animation-delay: 2928ms;
  }
  .bottom-particles .bubble:nth-child(176) {
    left: 63%;
    -webkit-animation: blow 10519ms infinite;
            animation: blow 10519ms infinite;
    -webkit-animation-delay: 8155ms;
            animation-delay: 8155ms;
  }
  .bottom-particles .bubble:nth-child(177) {
    left: 3%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 1834ms;
            animation-delay: 1834ms;
  }
  .bottom-particles .bubble:nth-child(178) {
    left: 69%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 8272ms;
            animation-delay: 8272ms;
  }
  .bottom-particles .bubble:nth-child(179) {
    left: 71%;
    -webkit-animation: blow 13071ms infinite;
            animation: blow 13071ms infinite;
    -webkit-animation-delay: 11576ms;
            animation-delay: 11576ms;
  }
  .bottom-particles .bubble:nth-child(180) {
    left: 67%;
    -webkit-animation: blow 13168ms infinite;
            animation: blow 13168ms infinite;
    -webkit-animation-delay: 4855ms;
            animation-delay: 4855ms;
  }
  .bottom-particles .bubble:nth-child(181) {
    left: 76%;
    -webkit-animation: blow 7405ms infinite;
            animation: blow 7405ms infinite;
    -webkit-animation-delay: 11859ms;
            animation-delay: 11859ms;
  }
  .bottom-particles .bubble:nth-child(182) {
    left: 95%;
    -webkit-animation: blow 14063ms infinite;
            animation: blow 14063ms infinite;
    -webkit-animation-delay: 9879ms;
            animation-delay: 9879ms;
  }
  .bottom-particles .bubble:nth-child(183) {
    left: 70%;
    -webkit-animation: blow 9072ms infinite;
            animation: blow 9072ms infinite;
    -webkit-animation-delay: 6ms;
            animation-delay: 6ms;
  }
  .bottom-particles .bubble:nth-child(184) {
    left: 13%;
    -webkit-animation: blow 12542ms infinite;
            animation: blow 12542ms infinite;
    -webkit-animation-delay: 5058ms;
            animation-delay: 5058ms;
  }
  .bottom-particles .bubble:nth-child(185) {
    left: 83%;
    -webkit-animation: blow 11910ms infinite;
            animation: blow 11910ms infinite;
    -webkit-animation-delay: 11372ms;
            animation-delay: 11372ms;
  }
  .bottom-particles .bubble:nth-child(186) {
    left: 63%;
    -webkit-animation: blow 7228ms infinite;
            animation: blow 7228ms infinite;
    -webkit-animation-delay: 7409ms;
            animation-delay: 7409ms;
  }
  .bottom-particles .bubble:nth-child(187) {
    left: 82%;
    -webkit-animation: blow 6004ms infinite;
            animation: blow 6004ms infinite;
    -webkit-animation-delay: 2503ms;
            animation-delay: 2503ms;
  }
  .bottom-particles .bubble:nth-child(188) {
    left: 79%;
    -webkit-animation: blow 14873ms infinite;
            animation: blow 14873ms infinite;
    -webkit-animation-delay: 1417ms;
            animation-delay: 1417ms;
  }
  .bottom-particles .bubble:nth-child(189) {
    left: 33%;
    -webkit-animation: blow 14418ms infinite;
            animation: blow 14418ms infinite;
    -webkit-animation-delay: 3354ms;
            animation-delay: 3354ms;
  }
  .bottom-particles .bubble:nth-child(190) {
    left: 23%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 8927ms;
            animation-delay: 8927ms;
  }
  .bottom-particles .bubble:nth-child(191) {
    left: 47%;
    -webkit-animation: blow 5113ms infinite;
            animation: blow 5113ms infinite;
    -webkit-animation-delay: 1462ms;
            animation-delay: 1462ms;
  }
  .bottom-particles .bubble:nth-child(192) {
    left: 95%;
    -webkit-animation: blow 10247ms infinite;
            animation: blow 10247ms infinite;
    -webkit-animation-delay: 2715ms;
            animation-delay: 2715ms;
  }
  .bottom-particles .bubble:nth-child(193) {
    left: 34%;
    -webkit-animation: blow 12532ms infinite;
            animation: blow 12532ms infinite;
    -webkit-animation-delay: 6672ms;
            animation-delay: 6672ms;
  }
  .bottom-particles .bubble:nth-child(194) {
    left: 90%;
    -webkit-animation: blow 6241ms infinite;
            animation: blow 6241ms infinite;
    -webkit-animation-delay: 3591ms;
            animation-delay: 3591ms;
  }
  .bottom-particles .bubble:nth-child(195) {
    left: 98%;
    -webkit-animation: blow 6833ms infinite;
            animation: blow 6833ms infinite;
    -webkit-animation-delay: 5737ms;
            animation-delay: 5737ms;
  }
  .bottom-particles .bubble:nth-child(196) {
    left: 54%;
    -webkit-animation: blow 5219ms infinite;
            animation: blow 5219ms infinite;
    -webkit-animation-delay: 11689ms;
            animation-delay: 11689ms;
  }
  .bottom-particles .bubble:nth-child(197) {
    left: 30%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 4090ms;
            animation-delay: 4090ms;
  }
  .bottom-particles .bubble:nth-child(198) {
    left: 46%;
    -webkit-animation: blow 5000ms infinite;
            animation: blow 5000ms infinite;
    -webkit-animation-delay: 3185ms;
            animation-delay: 3185ms;
  }
  .bottom-particles .bubble:nth-child(199) {
    left: 65%;
    -webkit-animation: blow 6210ms infinite;
            animation: blow 6210ms infinite;
    -webkit-animation-delay: 7379ms;
            animation-delay: 7379ms;
  }
  .bottom-particles .bubble:nth-child(200) {
    left: 11%;
    -webkit-animation: blow 14312ms infinite;
            animation: blow 14312ms infinite;
    -webkit-animation-delay: 1866ms;
            animation-delay: 1866ms;
  }
  
  @-webkit-keyframes blow {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(0, -100vh) scale(0.2);
    }
  }
  
  @keyframes blow {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(0, -100vh) scale(0.2);
    }
  }